@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit',sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}
.card{
    width: 20rem;
    background-color: hsl(216, 50%, 16%);
    padding: 1.5rem;
    border-radius: 1rem;
}    
.img-eq{
    width:100%;
    border-radius: .5rem;
    /* border: 1px solid red; */

}
.title{
    color:hsl(0, 0%, 100%);
    /* border: 1px solid red; */
    font-size: 22px;
}
.title:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.subtitle{
    color: hsl(220, 15%, 55%);
    /* border: 1px solid red; */
    font-size: 18px;

}
.container-details{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-bottom: 1px solid hsla(219, 15%, 55%, 0.24);
    padding: 1rem 0px;
    /* border: 1px solid red; */
    align-self: center;

}
.container-eth{
    display: flex;
    /* border: 1px solid red; */
    width: 7em;
    gap: .4em;
}
.container-eth img{
    width: .7em;
    height: 1.2em;
}
.eth-text{
    color:hsl(178, 100%, 50%);
    /* border: 1px solid red; */
    font-weight: bold;
}
.days-cont{
    /* border: 1px solid red; */
    display: flex;
    width: 8em;
    gap: .4em;
    float: right;
}
.days-cont img{
    width: 1.2em;
    
}
.days-left{
    color: hsl(220, 15%, 55%);
    /* border: 1px solid red; */
    font-weight: bold;
}
.container-author{
    display: flex;  
    padding-top: .7em;  
    gap: 1em;
    /* border: 1px solid red; */
    align-self: center;
    
}
.creation-of{
    color: hsl(220, 15%, 55%);
    font-size: 1em;
    /* border: 1px solid red; */

}
.img-avatar{
    width:2rem;
    height: fit-content;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding-top:10px;
}
.author-name{
    color: hsl(0, 0%, 100%);
}
.author-name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.attribution{
    position: absolute;
    top: 95%;
    color: #fff;
}
.attribution a{
    color: #7fffd4;
}
.attribution a:visited{
    color: #7fffd4;
}