@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit',sans-serif;
}
.img-eq{
    width: 100%;    
    height: max-content;
    border-radius: 5px;
}
.card{
    background-color: hsl(216, 50%, 16%);
    width: 23vw;
    margin: auto;
    border-radius: 10px;
    height: fit-content;    
    padding: 22px;
    box-shadow: rgba(0, 0, 0, 0.301) 10px 10px 20px 10px;
    height: fit-content;    
}
.title{
    color: hsl(0, 0%, 100%);
}  
.title:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
.eth-text{
    color:hsl(178, 100%, 50%);
    font-weight: 600;
}
.days-left{
    float: right;
    color:hsl(220, 15%, 55%);
    font-weight: 400;
}
.img-avatar{
    width: 30px;
    height: 30px;
    border:  2px solid white ;
    border-radius: 20px;
}
.nombre-creador{
    color: #ffffff;
}
.nombre-creador:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
.attribution{
    float: right;   
    margin-top: 4vh;
    margin-right: 10%;
    font-weight: 500;
    color:rgb(155, 155, 155);
    display: none;
}
.attribution a{
    
    color: #51009c;
}
.attribution a:visited{
    color: #ff000081;
}
.subtitle{
    color:hsl(220, 15%, 55%);
    font-size: 18px;
}
.creation-of{
    color:hsl(220, 15%, 55%);
        
}
.jules{
    border-top: 1px solid hsla(219, 15%, 55%, 0.288);
    margin-top: 10px;
    height: fit-content;    
}

@media (max-width:500px){

    .card{
        width: 80%;
        border-radius: 15px;
    }
    .attribution{
        display: none;
    }
    .img-eq{
        border-radius: 12px;
    }
}